@import './base';

/////////////////////////////////
// TITLE - ON TRASH VIEW
/////////////////////////////////

.list__title {
  width: 100%;
  margin: 0 auto;
  width: 50rem;
  text-align: center;
  margin: 3.5rem auto 2rem auto;
  @include title;
}

/////////////////////////////////
// EMPTY STATE
/////////////////////////////////

.empty-box {
  width: 50rem;
  height: 10rem;
  font-size: 2rem;
  color: var(--color-blue-dark);
  text-align: center;
}

/////////////////////////////////
// CARD STYLES
/////////////////////////////////

.card {
  position: relative;
  width: 50rem;
  height: auto;
  padding: 2rem 3rem;
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
  border-radius: 5px;
  background-color: var(--color-white);
  transition: all .35s;

  &::before {
    content: '';
    display: inline;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0%;
    z-index: 10;
    width: 2.5px;
    height: 6rem;
    background-color: var(--color-blue-primary);
  }

  &:hover {
    box-shadow: 3px 22px 71px -26px rgba(0, 0, 0, 0.1);
    transform: translateY(-.3rem);
  }


  &__details {
    display: flex;
    flex-direction: column;
  }

  &__header {
    display: flex;
    align-items: center;

    &--sender {
      font-weight: 700;
      color: var(--color-blue-dark);
      margin-right: auto;
    }

    &--date {
      font-weight: 300;
      font-size: 1.2rem;
    }
  }

  &__content {
    margin-top: 1rem;
  }

  &__delete {
    opacity: 0;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    height: 1.5rem;
    width: 1.5rem;
    background-color: var(--color-gray-light-2);
    mask: url(../img/icon-trash.svg);
    mask-size: contain;
    mask-repeat: no-repeat;
    cursor: pointer;
    transition: all .2s;

    &:hover {
      background-color: var(--color-gray-medium);
    }
  }

  &:hover &__delete {
    opacity: 1;
  }
}

/////////////////////////////////
// DISABLE HOVER ON DELETED MSGS
/////////////////////////////////

.list--deleted .card {
  pointer-events: none;
}
