@import './base';

.sort-menu {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 25rem;
  text-align: center;
  margin: 3.5rem auto 2rem auto;

  &__title {
    @include title;
  }

  &__option {
    cursor: pointer;

    &:hover,
    &--active {
      color: var(--color-blue-primary);
    }
  }

}
